In [14]:
import pandas as pd
import numpy as np

In [7]:
# Made-up training dataset
train = pd.DataFrame({'animal': ['cat', 'cat', 'dog', 'dog', 'fish', 'fish', 'bear'],
                      'age': [12, 13, 31, 12, 12, 32, 90]})

# Made-up test dataset (notice how two classes are from train are missing entirely)
test = pd.DataFrame({'animal': ['fish', 'fish', 'dog'],
                      'age': [15, 62, 1]})

In [8]:
# Discrete column to be one-hot-encoded
col = 'animal'

In [9]:
# Create dummy variables for each level of `col`
train_animal_dummies = pd.get_dummies(train[col], prefix=col)
train = train.join(train_animal_dummies)
train

  animal  age  animal_bear  animal_cat  animal_dog  animal_fish
0    cat   12            0           1           0            0
1    cat   13            0           1           0            0
2    dog   31            0           0           1            0
3    dog   12            0           0           1            0
4   fish   12            0           0           0            1
5   fish   32            0           0           0            1
6   bear   90            1           0           0            0

In [10]:
test_animal_dummies = pd.get_dummies(test[col], prefix=col)
test = test.join(test_animal_dummies)
test

  animal  age  animal_dog  animal_fish
0   fish   15           0            1
1   fish   62           0            1
2    dog    1           1            0

In [12]:
feature_difference = set(train) - set(test)
feature_difference

{'animal_bear', 'animal_cat'}

In [15]:
feature_difference_df = pd.DataFrame(data=np.zeros((test.shape[0], len(feature_difference))),
                                     columns=list(feature_difference))
feature_difference_df

   animal_cat  animal_bear
0         0.0          0.0
1         0.0          0.0
2         0.0          0.0

In [16]:
# add "missing" features back to `test
test = test.join(feature_difference_df)
test

  animal  age  animal_dog  animal_fish  animal_cat  animal_bear
0   fish   15           0            1         0.0          0.0
1   fish   62           0            1         0.0          0.0
2    dog    1           1            0         0.0          0.0